* {
    list-style: none;
    border: none;
}

body {
    font-family: Arial;
    background-color: #34495E;
}

.tree {
    color: #46CFB0;
    width: 800px;
    margin: 100px auto;
}

.tree li,
.tree li > a,
.tree li > span {
    padding: 4pt;
    border-radius: 4px;
}

.tree li a {
    color: #34BC9D;
    text-decoration: none;
    line-height: 20pt;
    border-radius: 4px;
}

.tree li a:hover {
    background-color: #34BC9D;
    color: #fff;
}

li a.active {
    background-color: #34BC9D;
    color: #fff;
}

.treemenu li {
    list-style: none;
}

.treemenu .toggler {
    cursor: pointer;
}

.treemenu .toggler:before {
    display: inline-block;
    margin-right: 2pt;
}

li.tree-empty > .toggler {
    color: #aaa;
}

li.tree-empty > .toggler:before {
    content: "\2212";
}

li.tree-closed > .toggler:before {
    content: "+";
}

li.tree-opened > .toggler:before {
    content: "\2212";
}
